* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 1.6rem;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  width: 45rem;
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
}

.img {
  display: block;
  width: 100%;
}

.content-box {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 5rem;
  gap: 3rem;
}

.title {
  font-size: 3rem;
  font-style: 700;
  color: hsl(223, 47%, 23%);
}

.description {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  line-height: 1.5;
  padding: 0 2rem;
}

.plan-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 1rem;
}

.plan {
  display: flex;
  gap: 2rem;
}

.align-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.plan-name {
  font-weight: 700;
  color: hsl(223, 47%, 23%);
}

.plan-price {
  color: hsl(224, 23%, 55%);
}

.change-btn:link,
.change-btn:visited {
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}

.change-btn:hover,
.change-btn:active {
  text-decoration: none;
  color: hsl(245, 75%, 65%);
}

.payment-btn:link,
.payment-btn:visited {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  background-color: hsl(245, 75%, 52%);
  padding: 1.5rem 5rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
}

.payment-btn:hover,
.payment-btn:active {
  background-color: hsl(245, 75%, 65%);
}

.cancel-btn:link,
.cancel-btn:visited {
  text-decoration: none;
  font-weight: 700;
  color: hsl(224, 23%, 55%);
}

.cancel-btn:hover,
.cancel-btn:active {
  color: hsl(223, 47%, 23%);
}

@media (max-width: 375px) {
  .main-container {
    background-image: url(images/pattern-background-mobile.svg);
  }

  .container {
    width: 36rem;
  }

  .content-box {
    padding: 3.5rem 2.5rem;
  }
}
